body{
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.container{
    width: 2000px;
}
.titulo h2{
    color: #ed5c53;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}
img.swal2-image{
    width: 2100px;
}
div.swal2-popup.swal2-modal.swal2-show{
    width: 1000px;
}
.figure{
    padding-top: 30px;
    
}
th.table-dark{
    color: #fff;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.table td{
    font-size: 20px; 
    color: #ed5c53;
    font-family: 'Nunito', sans-serif;
}
.table{
    background-color: #f2f2f2;
}
select.form-select{
    color: #ed5c53;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.Copyright h1{
    color: #f2f2f2;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}
/*
By William Alvarado - 61-1529-2021
*/